/* Write your code here. */
.backgroundImage {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  text-align: center;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colorBg {
  background-color: #cffafe;
  text-align: center;
  font-family: "Roboto";
  padding: 20px;
}
.image {
  height: 100px;
  width: 100px;
}
@media screen and (max-width: 767px) {
  justify-content: left;
}
